.modal {
    width: 100vw;
    height: 100%;
    background-color: rgba(212, 212, 212, 0.598);
    position: absolute;
    z-index: 3;


    &__wrapper {
        width: 800px;
        height: 600px;
        position: relative;
        top: calc(50% - 300px);
        left: calc(50% - 400px);
        background-color: bisque;
    }
    


    &__close {
        position: absolute;
        right: 10px;
        top: 20px;
        width: 100px;
        height: 40px;
        background-color: rgb(255, 81, 0);
        cursor: pointer;
        border: none;
        font-size: 19px;
        border-radius: 10px;
    }

    &__content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 120px 60px;

        span {
            display: block;
            color: #000;
            font-size: 23px;
            font-weight: 600;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        // padding: 0 0 130px 30px;
        width: 200px;
        height: 400px;
        span {
            color: #000;
            font-size: 20px;
        }

        span + span {
            padding-top: 15px;
        }
    }
}